.app1{
  display:flex;
  
  justify-content:center;
  height:100vh;
  background: url("./images/12.jpeg") center center no-repeat;

}

.app2{
}

.app3{
  background-color: #c9ccce96;
  width: 400px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px #8e9091a1;
  align-items: center; 
}



.dot {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  margin-left: 45%;
  margin-top: 10px;
}

.Rat{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Rat.jpg');
  background-size: cover;
}

.Ox{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Ox.jpg');
  background-size: cover;
}

.Tiger{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Tiger.jpg');
  background-size: cover;
}

.Rabbit{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Rabbit.jpg');
  background-size: cover;
}

.Dragon{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Dragon.jpg');
  background-size: cover;
}

.Snake{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Snake.jpg');
  background-size: cover;
}

.Horse{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Horse.jpg');
  background-size: cover;
}

.Goat{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Goat.jpg');
  background-size: cover;
}

.Monkey{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Monkey.jpg');
  background-size: cover;
}

.Rooster{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Rooster.jpg');
  background-size: cover;
}

.Dog{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Dog.jpg');
  background-size: cover;
}

.Pig{
  border-style:ridge;
  border-width: 1vh;
  border-color: rgb(199, 19, 19);
  
  margin: auto;
  margin-top: 5%;
  width:60vh;
  height:80vh;
  display:flex;
  background: url('./images/Pig.jpg');
  background-size: cover;
}






.form1{
  margin-top: 20%;
  width:35%;
  height: 20%;
  background:rgba(77, 76, 76, 0.568);
  align-items: center;
  border-radius: 3%;
}

.button1{
  width: 15% !important;;
  height: 35px !important;
  margin-left: 42%;
  margin-top: 1%;
  border-radius:5px;
  background-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 240, 0);
  font-family: 'Whisper', cursive;
  font-size: 30px;
  
  color:rgba(77, 76, 76, 0.897);
  align-items: center;
}



h6{
  font-family: 'Square Peg', cursive;
  margin-top: 2px;
  font-size: 50px;
  font-weight:normal;
  margin-left: 30px;
  
  color:rgb(253, 185, 59);
}

h5{
  font-family: 'Square Peg', cursive;
  margin-top: 40px;
  font-size: 40px;
  margin-left: 10px;
  font-weight: lighter;
  color: rgb(253, 185, 59);
}

h4{
  font-family: 'Square Peg', cursive;
  margin-top: 30px;
  font-size: 60px;
  font-weight:bolder;
  margin-left: 20px;
  
  color: rgb(253, 185, 59);
}

.fa-download{
  font-size:25px;
  font-weight: lighter;
  margin-top:26px;
  margin-left:20px;
  color:rgba(255, 255, 255, 0.808)
}



.body1 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

.body1 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.body2 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body2 {
  background:url(./images/cloud1.JPG);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background-color: #86d2f3a1;
  width: 720px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px #7bc9eba1;
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 2%;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  font-weight: bolder;
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  font-size:20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

button {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 100%;
  font-size: 18px;
  font-weight:560;
  color: #ffffff;
  background-color: #7ec9e9d5;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border-style: none;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #cfd1d352;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

h1{
  margin-left: 8%;
}









